[submodule "extern/LuaBridge"]
	path = extern/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "app/scripts_lib/json-lua"]
	path = app/scripts_lib/json-lua
	url = https://github.com/jiyinyiyong/json-lua
[submodule "app/scripts_lib/inspect.lua"]
	path = app/scripts_lib/inspect.lua
	url = https://github.com/kikito/inspect.lua
